.movieposter {
  width: 340px;
  height: 500px;
  object-fit: cover;
}
.movie-spec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0px;
}
.movie-container {
  /* background: red; */
  width: 340px;
}
.movie-summary {
  text-align: justify;
  margin-top: 0px;
}
.movie-component {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: "10px";
}
.addmovie-form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.movie-detail-container {
  max-width: 800px;
}
